@media only screen and (max-width: 600px){
    #canvasContainer
    {
        width:100%; height:100%; margin:0 auto;
    }
}
@media only screen and (min-width: 600px){
    #canvasContainer
    {
        width:100%; height:100%; margin:0 auto;
    }
}


#canvasZoom
{
    position:absolute;
    top:0; 
    left:0;
    display:none
}

#canvasOutput
{
    border:1px solid #d9d9d9; 
    width: 100%; 
    height: 100%;
}

.caption
{
    margin-bottom: 30px;
}

.hidden
{
    display: none;
}